body{
	margin: 0px;
}

#top{
	position: relative;
	background-color: rgb(0, 3, 36);
	height: 60px;
}

#catcircle{
	position: absolute;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	left: 180px;
	top: 12px;
	background-color: white;
}

#barOne{
	position: absolute;
	height: 30px;
	width: 105px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	left: 235px;
	top: 25%;
	background-color: grey;
}

#search-bar{
	position: absolute;
	height: 30px;
	width: 190px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	left: 340px;
	top: 25%;
	background-color: grey;
}

#pull-req{
	position: absolute;
	left: 548px;
	top: 36%;
	color: grey;
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
}
#issues{
	position: absolute;
	left: 653px;
	top: 36%;
	color: grey;
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
}

#marketplace{
	position: absolute;
	left: 714px;
	top: 36%;
	color: grey;
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
}

#explore{
	position: absolute;
	left: 812px;
	top: 36%;
	color: grey;
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
}
#search-GitHub{
	position: absolute;
	left: 242px;
	top: 36%;
	color: white;
	font-family: helvetica;
	font-size: 13px;
	
}

#drop-down-one{
	position: absolute;
	left: 1086px;
	top: 50%;
	transform: translateY(-50%);
	height: 36px;
	width: 36px;
}
#plus{
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 21px;
	color: grey;
	font-weight: bold;
}	

#arrow-one{
	position: absolute;
	left: 14px;
	top: 42%;
	transform: translateY(-50%) rotate(0.5turn);
	font-size: 18px;
	color: grey;
	font-weight: bold;
}
#small-icon{
	position: absolute;
	left: 46px;
	top: 50%;
	border:1px solid white;
	border-radius: 4px;
	transform: translateY(-50%);
	height: 18px;
	width: 18px;
}

#small-icon img{
	display:block;
	width:100%;
}

#arrow-two{
	position: absolute;
	left: 70px;
	top: 42%;
	transform: translateY(-50%) rotate(0.5turn);
	font-size: 18px;
	color: grey;
	font-weight: bold;
}

/* Below the top bar, starting page content */
#profile-pic{
	position: absolute;
	height: 239px;
	width: 239px;
	border: 1px solid white;
	border-radius: 12px;              /* border radius not working */
	left: 180px;
	top: 80px;
	background-color: blue;
}
#profile-pic img{
	display:block;
	width:100%;
}

#pro-tip-box{
	position: absolute;
	height: 80px;
	width: 730px;
	border: 1px solid rgb(207, 231, 235);
	border-radius: 5px;              
	left: 257px;
	bottom: 66%;;
	background-color: rgb(242, 246, 250);
}
#pro-tip{
	position: absolute;
	height: 50px;
	width: 551px;             
	left: 12px;
	bottom:12px;
	font-family: helvetica;
	font-size: 14px;
	line-height: 1.6;
	color:rgb(0, 3, 36);

}

#pro-tip-x{
	position: absolute;
	top:15px;
	left: 704px;
	font-size: 16px;
	font-weight: bold;
	font-family: helvetica;
}

#edit-profile-box{
	position: absolute;
	top:12px;
	left: 576px;
	height:28px;
	width:106px;
	background: linear-gradient(180deg, rgb(1, 184, 5), green);      /* include gradient */
	border-radius: 5px;
	border: 1px solid green;    /* darker green */
}

#edit-profile{
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
	color: white;
	font-weight: bold;
	font-family: Helvetica;
}

#pencil-box{
	position: absolute;
	left: 6px;
	top: 50%;
	transform: translateY(-50%);
	background: white;
	height:18px;
	width: 18px;
	
}

#penicil-box img{
	display:block;
	width:100%;
}
#user{
	position: absolute;
	top: 254px;
	font-size: 21px;
	font-family: arial;
	color: grey;
}
#add-bio{
	position: absolute;
	top: 292px;
	font-size: 14px;
	color: blue;
	font-family: helvetica;
}


#edit-prof-box2{
	position: absolute;
	top: 324px;
	color: white;
	border: 1px solid grey;
	border-radius: 5px;
	background: linear-gradient(180deg, white, rgb(237, 246, 250));
	height:32px;
	width:239px;
	text-align: center;
}
#edit-prof-box2-text{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
	font-size: 14px;
	color: grey;
	font-weight: bold;
	font-family: Helvetica;
}

#underline{
	position: absolute;
	top: 52px;
	border-bottom: 2px solid grey;
	width:239px;
}
#underline3{
	position: absolute;
	top: 173px;
	border-bottom: 2px solid rgb(255, 68, 12);
	width:100px;
}

#overview{
	position: absolute;
	top:130px;
	left: 16px;
	font-family:helvetica;
}

#repositories{
	position: absolute;
	top:130px;
	left: 117px;
	font-family:helvetica;

}
#stars{
	position: absolute;
	top:130px;
	left: 256px;
	font-family:helvetica;
}

#followers{
	position: absolute;
	top:130px;
	left: 353px;
	font-family:helvetica;
}

#following{
	position: absolute;
	top:130px;
	left: 485px;
	font-family:helvetica;
}
#underline2{
	position: absolute;
	top: 173px;
	border-bottom: 2px solid grey;
	width:726px;
}
#popular{
	position: absolute;
	top:206px;
	font-family:helvetica;
}
#cust{
	position: absolute;
	top:206px;
	left: 540px;
	font-size: 12px;
	font-family:helvetica;
}
#git-box{
	position: absolute;
	height: 110px;
	width: 356px;
	border: 1px solid grey;
	border-radius: 5px;              
	top: 238px;
}
#git-demo{
	position: absolute;           
	top: 20px;
	left:15px;
	font-family: helvetica;
	color:blue;
	font-weight: 600;
}

#rps-box{
	position: absolute;
	height: 110px;
	width: 356px;
	border: 1px solid grey;
	border-radius: 5px;              
	top: 238px;
	left:369px;
}
#rps-text{
	position: absolute;           
	top: 20px;
	left:15px;
	font-family: helvetica;
	color:blue;
	font-weight: 600;
}
#rock-text{
	position: absolute;           
	top: 27px;
	font-family: helvetica;
	color:grey;
	font-size: 12px;
	width:200px;
}
#code-box{
	position: absolute;
	height: 110px;
	width: 356px;
	border: 1px solid grey;
	border-radius: 5px;              
	top: 366px;
}

#code-text{
	position: absolute;           
	top: 20px;
	left:15px;
	font-family: helvetica;
	color:blue;
	font-weight: 600;
	}
#code-circ{
	position: absolute;           
	left: 15px;
	top: 75px;
	background:red;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	
}

#html-code-circ{
	position:absolute;
	color:grey;
	font-size: 12px;
	font-family: helvetica;
	left: 16px;
}

#intro-box{
	position: absolute;
	height: 110px;
	width: 356px;
	border: 1px solid grey;
	border-radius: 5px;              
	top: 366px;
	left:369px;
}

#intro-text{
	position: absolute;           
	top: 20px;
	left:15px;
	font-family: helvetica;
	color:blue;
	font-weight: 600;
	}

#intro-circ{
	position: absolute;           
	left: 15px;
	top: 75px;
	background:red;
	border-radius: 50%;
	height: 12px;
	width: 12px;
}
#html-intro-circ{
	position:absolute;
	color:grey;
	font-size: 12px;
	font-family: helvetica;
	left: 16px;
}



#pers-box{
	position: absolute;
	height: 110px;
	width: 356px;
	border: 1px solid grey;
	border-radius: 5px;              
	top: 495px;
}
#pers-text{
	position: absolute;           
	top: 20px;
	left:15px;
	font-family: helvetica;
	color:blue;
	font-weight: 600;
	}
#pers-text2{
	position: absolute;           
	top: 45px;
	left:15px;
	font-family: helvetica;
	color:grey;
	font-size: 12px;
	
}

#pers-circ{
	position: absolute;           
	left: 15px;
	top: 75px;
	background:red;
	border-radius: 50%;
	height: 12px;
	width: 12px;
}
#html-pers-circ{
	position:absolute;
	color:grey;
	font-size: 12px;
	font-family: helvetica;
	left: 16px;
}
#scrn-box{
	position: absolute;
	height: 110px;
	width: 356px;
	border: 1px solid grey;
	border-radius: 5px;              
	top: 495px;
	left:369px;
}
#scrn-text{
	position: absolute;           
	top: 20px;
	left:15px;
	font-family: helvetica;
	color:blue;
	font-weight: 600;
	}
#scrn-text2{
	position: absolute;           
	top: 45px;
	left:15px;
	font-family: helvetica;
	color:grey;
	font-size: 12px;
}

#scrn-circ{
	position: absolute;           
	left: 15px;
	top: 75px;
	background:purple;
	border-radius: 50%;
	height: 12px;
	width: 12px;
}
#html-scrn-circ{
	position:absolute;
	color:grey;
	font-size: 12px;
	font-family: helvetica;
	left: 16px;
}


